<!DOCTYPE html>
<html lang="en" ng-app="rental">
<head>
    <meta charset="UTF-8">
    <title>Wypożyczalnia</title>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <script src="//ajax.googleapis.com/ajax/libs/angularjs/1.6.2/angular.min.js"></script>
    <link rel="stylesheet" href="css/bootstrap.min.css">
    <link rel="stylesheet" href="css/logo-nav.css">
    <link rel="stylesheet" href="css/core.css">
    <style>
        .navbar-toggler {
            z-index: 1;
        }

        @media (max-width: 576px) {
            nav > .container {
                width: 100%;
            }
        }
    </style>
</head>
<body ng-controller="cartController">
<nav class="navbar fixed-top navbar-toggleable-md navbar-inverse bg-inverse">
    <div class="container">
        <div class="collapse navbar-collapse" id="navbarExample">
            <ul class="navbar-nav ml-auto">
                <li class="nav-item">
                    <a class="nav-link" href="/">Strona główna</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/o-nas">O nas</a>
                </li>
                <li class="nav-item active">
                    <a class="nav-link" href="/koszyk">Koszyk <span class="sr-only">(current)</span></a>
                </li>
            </ul>
        </div>
    </div>
</nav>

<div class="container">
    <h1 class="mt-5">Koszyk</h1>

<form id="formContact"  class="col-md-6" ng-submit="submit()">
    <div ng-repeat="(key, movie) in movies" ng-if="movie.name">
        <input type="hidden" name="form.movies.{{key}}" value="true" data-id="{{key}}">
        <span>{{ movie.name }}</span>
        <br>
        <div>
            <small>Sztuk: {{movie.copiesLeft}}</small><br>
            <small>Cena: {{movie.fee}} zł</small><br>
            <small>Kategorie:</small>
            <small ng-repeat="category in movie.categoryIds">
                <a href="/kategoria/{{category}}">{{categories[category]}} </a>
            </small>
        </div>
        <hr>
    </div>
    <div class="form-group">
        <label for="firstName" class="control-label">Imię:</label>
        <input type="text" name="firstName" class="form-control" id="firstName" placeholder="Imię*" ng-model="firstName" required>
    </div>

    <div class="form-group">
        <label for="lastName" class="control-label">Nazwisko:</label>
        <input type="text" name="lastName" class="form-control" id="lastName" placeholder="Nazwisko*" ng-model="lastName" required>
    </div>

    <div class="form-group">
        <label for="inputEmail" class="control-label">E-mail:</label>
        <input type="email" name="email" class="form-control" id="inputEmail" placeholder="Adres e-mail*" ng-model="email" required>
    </div>

    <div class="form-group">
        <label for="phone" class="col-form-label">Telefon:</label>
        <input class="form-control" name="phone" type="tel" placeholder="666555666" id="phone" ng-model="phone" pattern="[0-9]{9,10}" required>
    </div>
    <div class="form-group">
        <button  class="btn btn-success btn-md" type="submit"  value="Submit Button"><i class="fa fa-paper-plane " aria-hidden="true">
            </i> Zatwierdź
        </button>
    </div>
</form>


</div>



<script src="core.js"></script>
<script src="js/jquery.js"></script>
<script src="js/bootstrap.min.js"></script>
<script src="js/tether.min.js"></script>
</body>
</html>